*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
**/**/*.jar
**/**/*.war
**/**/*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/algorithm-learning-examples/.mvn/
/algorithm-learning-examples/mvnw
/algorithm-learning-examples/mvnw.cmd
/SpringCloud-Demo/demo/.mvn/wrapper
/SpringCloud-Demo/eurela-client/mvnw
/SpringCloud-Demo/eurela-client/.mvn/wrapper
/SpringCloud-Demo/eureka-server/.mvn/wrapper
/SpringCloud-Demo/eureka-server/mvnw
/SpringCloud-Demo/eureka-server/mvnw.cmd
/SpringCloud-Demo/demo/mvnw.cmd
/SpringCloud-Demo/demo/mvnw
/SpringCloud-Demo/eurela-client/mvnw.cmd
/SpringCloud-Demo/eureka-provider/.mvn/wrapper/maven-wrapper.jar
/SpringCloud-Demo/eureka-provider/.mvn/wrapper/maven-wrapper.properties
/SpringCloud-Demo/eureka-provider/.mvn/wrapper/maven-wrapper.jar
/SpringCloud-Demo/eureka-provider/.mvn/wrapper/maven-wrapper.jar
/SpringCloud-Demo/eureka-provider/.mvn/wrapper/maven-wrapper.jar
/SpringCloud-Demo/ribbon-client/.mvn/wrapper/maven-wrapper.jar
/SpringCloud-Demo/ribbon-client/.mvn/wrapper/maven-wrapper.properties
