<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">	
	<title>admol</title>
</head>
<body class="warp">
	<div class="container">
		<div class="content">
			${screen_content}
		</div>
	</div>
		</body>
</html>